@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f8ff;
}

.bodyInicio {
    font-family: Poppins;
    background-image: url(./img/fondoInicio.jpg);
}

nav {
    background-color: #234050;
    color: #fff;
    width: 200px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding: 1em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 2em 0;
    font-family: Poppins;
    font-size: 1.1em;
}

li:hover {
    text-decoration: underline;
    transform: scale(1.075);
    transition-property: all;
    transition-duration: 0.5s;
}

a {
    color: #fff;
    text-decoration: none;
}

main {
    margin-left: 14.5rem;
}

.mainInicio {
    margin: 0;
}

.containerNav {
    display: flex;
}

.logoInicio {
    width: 10%;
    height: 10%;
    display: block;
    margin: 1% auto 0;
    border-radius: 50%;
}

.logoMain {
    width: 15%;
    height: 15%;
    display: block;
    margin: auto;
}

.logoNav {
    width: 40%;
    height: 40%;
    margin: auto;
    border-radius: 50%;
}

h1 {
    font-family: Poppins;
    font-size: 1.4em;
    text-align: center;
}

h2 {
    background-color: #78a2bd;
    padding: 0.3em 0.6em;
    font-size: 3.5rem;
}

.h3Inicio {
    font-family: Poppins;
    text-align: center;
    margin-bottom: 6%;
    font-size: 1.5em;
    text-decoration: underline;
}

.formInicio {
    max-width: 20%;
    margin: 8% auto 0;
    background-color: #f0f8ff;
    padding: 20px;
    border-radius: 1em;
    border: 1px solid #78a2bd;
}

.formDivInicio {
    margin-bottom: 15px;
}

.subTituloIndex {
    background-color: #f0f8ff;
    text-align: center;
}

.parrafoIndex {
    text-align: center;
    font-size: 2em;
}

.parrafoSeccion {
    font-size: 1.5em;
    font-family: Poppins;
    padding: 2em 1.75em 1em;
    text-align: center;
}

.containerSecciones {
    margin-top: 6em;
}

main div div p {
    font-size: x-large;
}

.containerForm {
    width: 50%;
    margin: 2em auto;
    font-family: Poppins;
}

fieldset {
    border: 2px solid #78a2bd;
    border-radius: 1em;
    padding: 10px;
}

label {
    font-weight: bold;
}

.labelInicio {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.inputIngreso,
.usuarioInicio,
.passInicio {
    width: 97%;
    padding: 0.2em 0em 0.2em 0.5em;
    margin-bottom: 1em;
    border: 1px solid #a9d0e9;
    font-size: 1.25em;
}

.inputRegistrar,
.ingresarInicio {
    background-color: #45a049;
    color: white;
    font-weight: bold;
    padding: 1em 2em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.inputRegistrar,
.ingresarInicio:hover {
    background-color: #398f3d;
}

.ingresarInicio {
    width: 100%;
}

.containerBtn {
    display: flex;
    justify-content: center;
}

.containerBusquedaConsulta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2em 0;
}

.inputConsulta {
    width: 20%;
    border: 1px solid #a9d0e9;
    font-size: 1.37em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
}

.contenedorBotonLista {
    text-align: center;
    margin: 2em 0 0;
}

.inputBusquedaConsulta {
    width: 10%;
    font-size: 1em;
    background-color: #4a834b;
    color: white;
    font-weight: bold;
    padding: 0.33em 0em;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.botonListaCompleta {
    width: 20%;
    font-size: 1.5em;
    background-color: #406d92;
    color: white;
    font-weight: bold;
    padding: 0.33em 0em;
    border-radius: 10px;
    cursor: pointer;
}

.parrafoInfo {
    font-family: Poppins;
    font-size: 0.7em;
}

.nombreInfo {
    font-family: Poppins;
    font-size: 0.9em;
}

.estiloMostrarPaciente {
    display: block;
    margin: 0.6em auto;
    width: 50%;
    border: 3px solid #78a2bd;
    background-color: #dee7ec;
    font-size: 1.1em;
    text-align: center;
}

.estiloMostrarBuscado {
    display: block;
    margin: 0.6em auto;
    width: 50%;
    border: 3px solid #78a2bd;
    background-color: #dee7ec;
    font-size: 0.8em;
    text-align: center;
}

.estiloValue {
    color: #0b6799;
    display: block;
    margin: 0 auto;
}

.containerInputEvo {
    display: flex;
    flex-direction: column;
    margin: 2em 0 0;
}

.aniadir,
.btnAceptar {
    margin: 1em auto 0;
    width: 25%;
    background-color: #4a834b;
    color: white;
    font-weight: bold;
    padding: 1em 2em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.inputEvolucion {
    border: 1px solid #a9d0e9;
    font-size: 1.37em;
}

.btnCancelar {
    margin: 1em auto 0;
    width: 25%;
    background-color: #d34a4a;
    color: white;
    font-weight: bold;
    padding: 1em 2em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.contenedorDoctores {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.divDoctores {
    margin: 2em 5em;
    padding: 4em 2em;
    background-color: #e6f2fa;
    border: 2px solid #0b6799;
    border-radius: 10px;
}

.h3Equipo {
    font-family: Poppins;
    font-size: x-large;
    margin-bottom: 1em;
    text-align: center;
}

.parrafoEquipo {
    font-family: Poppins;
    font-size: larger;
    margin: 0.25em 0;
    text-align: center;
}

.fotoMedico {
    display: block;
    margin: 0 auto 1.25em;
    width: 175px;
    height: 175px;
    border: 4px solid #a9d0e9;
    border-radius: 5px;
}

.estiloVacio {
    border: none;
    background-color: #f0f8ff;
}

.estiloListaCompleta {
    display: block;
    margin: 0.6em auto;
    width: 100%;
    border: 3px solid #78a2bd;
    background-color: #dee7ec;
    text-align: center;
}

table {
    width: 100%;
    margin-bottom: 3em;
}

table,
th,
td {
    border: 2px solid #0b6799;
    font-size: 0.8em;
}

th,
td {
    padding: 10px;
}

.tituloPacientes {
    
    text-decoration: solid underline ;
    margin-bottom: 0.5em;
    font-size: xx-large;
}

.estiloDiez {
    width: 10%;
    font-size: 1em;
}

.estiloCincuenta {
    width: 50%;
    font-size: 1em;
}